<h1>Proficient Provisions</h1>

<div class = "two columns" >
<section class="parties">

  <ul>
    <% @parties.each do |party| %>
    <% if party.status == 'open' %>
      <li>
        <a class= "table-list" href="/parties/<%= party.id %>">Table Number <%= party.table_number %></a>
        <form action="/parties/<%= party.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class= "table-list" type="submit"> Remove </button>
        </form>
      </li>
      <% end %>
    <% end %>

  </ul>
  <form action ="/parties">
  <input type ="submit" value="See All Parties">
   </form>

</section>
</div>

<div class = "row">
  <div class ="ten columns">
<div class = "main-buttons">
<form class = "link" action="/parties/new">
     <input class="main" type="submit" value="Open New Party">
 </form>
 </div>
<div class = "main-buttons">
  <form class='link' action="/parties/new">
    <input  type="submit" class="main"value="View Menu">
  </form>
    </div>
</div>
</div>
