<h3> Enter New Party Info</h3>


<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="Table Number">
  <input type="text" name="party[num_of_party]" placeholder="Number in Party">
    <input type="text" name="party[status]" placeholder="Status">
  <input type="submit" value="Build Party">
</form>
