
<h2 class="item-menu"> MENU </h2>


<div class ="row">

  <% @menu_items.each_with_index do |menu_item, index| %>
  <div class = "item-show six columns">
      <h3> <%= menu_item.sub_category%> </h3>
        <h5>  <%= menu_item.name %> | $<%=('%.2f' % (menu_item.price))%> </h5>
        <p><%=menu_item.description%>

        </p>
    </div>
  <% if (index+1)%2 == 0%>
 </div>
 <div class ="row">
  <%end%>
<%end%>
</div>

<form class = "link" action="/menu_items/new">
     <input type="submit" value="Add New Item">
 </form>

 <form class = "link" action="/menu_items/edit">
      <input type="submit" value="Edit the Menu">
  </form>

 <form class = "link" action="/">
      <input type="submit" value="Home">
  </form>
