<h3> Enter New Menu Item Info</h3>


<form action="/menu_items" method="post">
  <input type="text" name="menu_item[name]" placeholder="Item Name">
  <input type="text" name="menu_item[price]" placeholder="$$$$">
  <input type="submit" value="Add to menu">
</form>
